<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link rel="stylesheet" type="text/css" href="css/home.css">
<head>
    <title>Task-Tracking Portal</title>
</head>
<body>
<h1>Welcome to the home page!</h1>
<h3>Please, choose the mode to work in:</h3>
<table>
    <tr>
        <td>
            <div class="u-page">
                <a style="color: blue" class="user-page" th:href="@{/user}">User Mode</a>
            </div>
        </td>
        <td>
            <div class="a-page">
                <a style="color: blue" class="admin-page" th:href="@{/admin}">Admin Mode</a>
            </div>
        </td>
    </tr>
</table>
</body>
</html>