<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Task-Tracking Portal</title>
    <div style="text-align: right; margin-right: 20px;">
        <form th:action="@{/logout}" method="post" class="logout-btn">
            <input type="submit" class="btn" value="Sign Out" />
        </form>
    </div>

    <h1>Task-Tracking Portal</h1>
    <link rel="stylesheet" type="text/css" href="css/cabinet.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<h2>Add new task</h2>
<form action="#" th:action="@{/tasks}" th:object="${taskToSave}" method="post">
    <div class="add-tasks">
<table id="add-task-fields">
    <thead>
        <tr>
            <td><label for="subject-input">Subject</label></td>
            <td><label for="message-input">Message</label></td>
            <td><label for="priority-input">Priority</label></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" id="subject-input" class="add-input" th:field="*{subject}" placeholder="New subject"/></td>
            <td><input type="text" id="message-input" class="add-input" th:field="*{message}" placeholder="New message"/></td>
            <td><input type="text" id="priority-input" class="add-input" th:field="*{priority}" placeholder="Priority"/></td>
            <td><input type="submit" class="btn add-btn" value="Add task"></td>
        </tr>
    </tbody>
    </table>
    </div>
</form>
<div id="filter-fields">
<table>
    <tbody>
    <tr id="filter-head" style="display: none">
        <td class="filter-head-cell fil-id"><input type="text" placeholder="Id" class="filter-id" ></td>
        <td class="filter-head-cell filter-sub"><input type="text" placeholder="Subject" class="subj-field"></td>
        <td class="filter-head-cell filter-mes"><input type="text" placeholder="Message" class="mess-field" ></td>
        <td class="filter-head-cell filter-pri"><input type="text" placeholder="Priority" class="prior-field"></td>
        <td class="filter-head-cell filter-creby"><input type="text" placeholder="Created by" class="creby-field"></td>
        <td class="filter-head-cell filter-creon"><input type="text" placeholder="Created" class="creon-filter"></td>
        <td class="filter-head-cell filter-uid"><input type="text" placeholder="Assigned to" class="uid-filter"></td>
        <td class="filter-head-cell filter-act"><input type="text" placeholder="Active" class="act-filter"></td>
        <td class="filter-head-cell filter-clmes"><input type="text" placeholder="Close message" class="clmes-filter"></td>
    </tr>
    </tbody>
</table>
</div>
<div th:if="${not #lists.isEmpty(tasks)}">
    <div>
        <table>
            <tr>
                <td style="width: 500px;">
                    <div class="tab">
                        <button class="btn tablinks" onclick="showTable(event, 'top')">Top tasks</button>
                        <button class="btn tablinks" onclick="showTable(event, 'all')">All tasks</button>
                    </div>
                </td>

                <td><label class="switch-label">Show inactive</label></td>
                <td>
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                        <label class="onoffswitch-label" for="myonoffswitch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                    </label>
                </td>
                <td>
                    <button class="btn filter-btn" style="display: none">Show filter</button>
                </td>
            </tr>
        </table>
    </div>
    <table id="table">
        <thead>
        <tr id="head">
            <td class="table-head-cell">Id</td>
            <td class="table-head-cell">Subject</td>
            <td class="table-head-cell">Message</td>
            <td class="table-head-cell">Priority</td>
            <td class="table-head-cell">Created by</td>
            <td class="table-head-cell">Created</td>
            <td class="table-head-cell">Assigned to</td>
            <td class="table-head-cell">Active</td>
            <td class="table-head-cell">Close message</td>
            <td class="table-head-cell" sec:authorize="hasRole('ROLE_ADMIN')">Operations</td>
        </tr>
        </thead>
        <tbody>

        <tr class="content-row" th:each="task : ${tasks}" th:id="'content' + ${task.taskActive}">
            <td class="table-content-cell id-cell" th:text="${task.id}"></td>
            <td class="table-content-cell subject-cell" th:text="${task.subject}"></td>
            <td class="table-content-cell message-cell" th:text="${task.message}"></td>
            <td class="table-content-cell priority-cell" th:id="'priority-' + ${task.priority}"
                th:text="${task.priority}"></td>
            <td class="table-content-cell created-by-cell" th:text="${task.createdBy}"></td>
            <td class="table-content-cell created-cell" th:id="'created-on-cell-' + ${task.createdOn}"
                th:text="${task.createdOn}"></td>
            <td class="table-content-cell user-id-cell" th:text="${task.userId}"></td>
            <td class="table-content-cell is-active-cell" th:text="${task.taskActive}"></td>
            <td class="table-content-cell close-message-cell" th:text="${task.closeMessage}"></td>
            <td class="admin-btn-cell" sec:authorize="hasRole('ROLE_ADMIN')">
                <table id="admin-btn-table">
                    <tr>
                        <td class="admin-btn">
                            <button class="close-task-btn">Close task</button>
                        </td>
                        <td class="admin-btn">
                            <button class="assign admin-btn">Assign to me</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="js/tasks.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    /*]]>*/
</script>
</body>
</html>